<div>
	<h2>{{ dataholder | json }}</h2>
	<cgobject id="control.name" type="control.type" control="control" dataholder="dataholder"></cgobject>
	<!-- 
	<div ng-repeat="item in screen.controls">
		<cgobject id="{{item.name}}" type="item.type" control="item" controls="item.controls" dataholder="dataholder"></cgobject> 
	</div>
	 -->
</div>