<div id="content-area" class="col-md-9" role="main">
    <div id="content">
        <h2><span>Products</span></h2>
        <table class="table" data-ng-show="products.length > 0">
            <thead>
            <tr>
                <th>Product Listing</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>