<div class="field row">
	<div class="col-md-6 col-md-offset-3 form-group" class="col-md-6 col-md-offset-3 form-group" ng-class="{'has-error':(form[field.Nombre].$error.required || form[field.Nombre].$error.cerror) }" style="{{ field.fstyle }}">
   <div>
    <label ng-hide="hidelabel" ng-style="field.lstyle" class="control-label" for="{{field.Nombre}}">{{field.Label}}:</label>
    <span ng-show="fielderrors.required"> - Campo Requerido</span>
    <span ng-show="fielderrors.cerror"> - Data Invalida</span>
  </div>

  <angucomplete-alt
  placeholder="Search members"
  ng-style="field.fstyle"
  pause="500"
  selected-object="autocompleteselected"
  remote-url="./API/Formulario/GetSource?ID_Group={{field.Source}}&valor="
  title-field="Name"
  disabled="isdisabled()"
  minlength="3"
  initial-value="{{dataholder[field.Nombre] || field.Default}}"
  input-class="form-control form-control-small"></angucomplete-alt>

  <input name="{{field.Nombre}}" type="text" style="display:none" class="form-control"
  ng-model="dataholder[field.Nombre]"
  value="{{dataholder[field.Nombre]}}"
  ng-required="field.Requerido"
  ng-init="dataholder[field.Nombre]=(dataholder[field.Nombre] ||field.Default)"
  validationinjector func="field.Validation">
</div>
</div>
