<br>
<input ng-model="dataholder[field.Nombre]" id="{{field.Nombre}}" type="checkbox" ng-true-value="true" ng-false-value="false" ng-required="field.Requerido" ng-disabled="isdisabled()"
ng-init="dataholder[field.Nombre] = (dataholder[field.Nombre] || (field.Default =='true'))"/>
<label class="form-field-label control-label" for="{{field.Nombre}}" ng-cloak>{{field.Label}}</label>
<!-- <span class="required-error" ng-show="field.Requerido && dataholder[field.Nombre] == 'false'">(* required)</span> -->

