<div class="field row">
	<div class="col-md-6 col-md-offset-3 form-group" ng-class="{'has-error':(form[field.Nombre].$error.required || form[field.Nombre].$error.date ||form[field.Nombre].$error.cerror)}">
		<div>
    <label for="{{field.Nombre}}" ng-hide="hidelabel" class="control-label">{{field.Label}}:</label>
            <span ng-show="fielderrors.required"> - Campo Requerido</span>
            <span ng-show="fielderrors.cerror"> - Data Invalida</span>
    </div>
		<input name="{{field.Nombre}}" class="form-control" type="date"
		validationinjector func="field.Validation"
		ng-init="dataholder[field.Nombre]=(dataholder[field.Nombre] ||field.Default)"
		ng-model="dataholder[field.Nombre]" ng-required="field.Requerido" ng-disabled="isdisabled()">
	</div>
</div>
