<div class="field row" style="{{ field.rstyle }}">
    <div class="col-md-6 col-md-offset-3 form-group" ng-class="{'has-error':(form[field.Nombre].$error.required)}" style="{{ field.fstyle }}">
        <div>
            <label class=" control-label" ng-style="field.lstyle" ng-hide="hidelabel" for="{{field.Nombre}}">
                {{field.Label}}:
            </label>
            <span ng-show="fielderrors.required"> - Campo Requerido</span>
            <span ng-show="fielderrors.cerror"> - Data Invalida</span>
        </div>
        <select name="{{field.Nombre}}" numericbinding
                class="form-control"
                ng-style="field.fstyle"
                value="{{dataholder[field.Nombre]}}"
                ng-options="item.Value*1 as item.Name for item in field.field_options"
                ng-model="dataholder[field.Nombre]"
                ng-required="field.Requerido"
                ng-init="dataholder[field.Nombre]=(dataholder[field.Nombre] ||field.Default*1 || undefined)"
                ng-disabled="isdisabled()"></select>
    </div>
</div>
<br>
