<div class="field row">
    <div class="col-md-6 col-md-offset-3 form-group">
    <label for="{{field.Nombre}}" ng-style="field.lstyle" class="control-label">{{field.Label}}:</label>
    <a href="{{field.Source + dataholder[field.Nombre]}}" ng-style="field.fstyle" target="_blank">{{field.Label}}</a>
    </div>
</div>
