<div class="field row">
    <div class="col-md-6 col-md-offset-3 form-group" ng-class="{'has-error':(field.Requerido && !dataholder[field.Nombre])}" >
   <label for="{{field.Nombre}}" ng-style="field.lstyle" ng-hide="hidelabel" class="control-label">{{field.Label}}:</label>
        <textarea name="{{field.Nombre}}"
         class="form-control"
         ng-style="field.fstyle"
         type="number"
         ng-model="dataholder[field.Nombre]"
         value="{{dataholder[field.Nombre]}}"
         ng-required="field.Requerido"
         ng-disabled="isdisabled()"
         ng-init="dataholder[field.Nombre]=(dataholder[field.Nombre] ||field.Default)"
         validationinjector func="field.Validation"></textarea>
    </div>
</div>
