<div class="field row">
    <div class="col-md-6 col-md-offset-3 form-group" ng-class="{'has-error':(field.Requerido && !dataholder[field.Nombre])}">
    <label for="{{field.Nombre}}" ng-style="field.lstyle" ng-hide="hidelabel" class="control-label">{{field.Label}}:</label>
        <input name="{{field.Nombre}}"
         class="form-control"
         ng-style="field.fstyle"
         type="password"
         ng-model="dataholder[field.Nombre]"
         value="{{dataholder[field.Nombre]}}"
         ng-init="dataholder[field.Nombre]=(dataholder[field.Nombre] ||field.Default)"
         ng-required="field.Requerido"
         ng-disabled="field.field_disabled"
         validationinjector func="field.Validation">

    </div>
</div>
