<div class="field row">
    <div class="col-md-6 col-md-offset-3 form-group" ng-class="{'has-error':(field.Requerido && !dataholder[field.Nombre])}">
        <div>
            <label class="control-label" ng-style="field.lstyle">{{field.Label}}:</label>
            <span ng-show="fielderrors.required"> - Campo Requerido</span>
            <span ng-show="fielderrors.cerror"> - Data Invalida</span>
        </div>
        <div ng-repeat="option in field.field_options" class="row-fluid">
            <label>
                <input name="{{field.Nombre}}" type="radio"
                value="{{option.Value}}"
                ng-model="dataholder[field.Nombre]"
                ng-required="field.Requerido"
                ng-disabled="isdisabled()"
                ng-style="field.fstyle"
                ng-init="dataholder[field.Nombre]=(dataholder[field.Nombre] ||field.Default).toString()"/>
                &nbsp;<span ng-bind="option.Name"></span>
            </label>
        </div>
    </div>
</div>
<br>
