    <div class="display-block text-center pagination-centered">
    	<h2>{{ Table.Label }}</h2>
    	<table class="table table-hover table-bordered">
    		<thead>
    			<th ng-repeat="header in Table.Headers">{{header}}</th>
    		</thead>
    		<tbody>
    			<tr ng-repeat="data in tabledataholder" ng-init="row = $index">
    				<td ng-repeat="field in Table.Fields">
                        <field-directive field="field" hidelabel="true" form="form" fieldsref="FieldsRef" disable="disableall" dataholder="tabledataholder[row]" init="containerStyle='margin-left:0;'" row="row">
                        </field-directive>
    			</td>
    		</tr>
    	</tbody>
    </table>
    <button class="RowManager" ng-click="Add_Row()">Agregar Fila</button>
    <button class="RowManager" ng-click="Remove_Row()">Remover Fila</button>
</div>
