<div class="field row">
  <div class="col-md-6 col-md-offset-3 form-group" class="col-md-6 col-md-offset-3 form-group" ng-class="{'has-error':(form[field.Nombre].$error.required || form[field.Nombre].$error.cerror) }" style="{{ field.fstyle }}">
    <div>
      <label for="{{field.Nombre}}" ng-style="field.lstyle" ng-hide="hidelabel" class="control-label">{{field.Label}}:</label>
        <span ng-show="fielderrors.required"> - Campo Requerido</span>
        <span ng-show="fielderrors.cerror"> - Data Invalida</span>
    </div>
      
      <input name="{{field.Nombre}}" type="text" class="form-control"
             ng-model="dataholder[field.Nombre]"
             value="{{dataholder[field.Nombre]}}"
             ng-required="field.Requerido"
             ng-style="field.fstyle"
             ng-disabled="isdisabled()"
             ng-init="dataholder[field.Nombre]=(dataholder[field.Nombre] ||field.Default)"
             validationinjector func="field.Validation">
  </div>
</div>
