<div class="field row">
  <div class="col-md-6 col-md-offset-3 form-group" ng-class="{'has-error':(field.Requerido && !dataholder[field.Nombre])}" ng-style="fieldStyle">
    <div>
      <label for="{{ field.Nombre }}" ng-hide="hidelabel" ng-style="field.lstyle" class="control-label">{{ field.Label }}:</label>
        <span ng-show="fielderrors.required"> - Campo Requerido</span>
        <span ng-show="fielderrors.cerror"> - Data Invalida</span>
    </div>
    <textarea name="{{ field.Nombre }}"
    class="form-control" type="text"
    ng-model="dataholder[field.Nombre]"
    value="{{ dataholder[field.Nombre] }}"
    ng-required="field.Requerido"
    ng-style="field.fstyle"
    ng-disabled="isdisabled()"
    ng-init="dataholder[field.Nombre]=(dataholder[field.Nombre] ||field.Default)"
    validationinjector func="field.Validation"></textarea>
  </div>
</div>
